$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

$black: hsl(0, 0%, 0%);
$lighter-gray: hsl(0, 0%, 85%);
$light-gray: hsl(0, 0%, 69%);
$dark-gray: hsl(0, 0%, 48%);
$darker-gray: hsl(0, 0%, 19%);

$transition: all 0.3s ease;